.timetable_legend {
    width:80%; 
    margin-left:10%; 
    margin-right:10%
}

.timetable 
{
    display:table; 
    border-collapse: collapse; 
    table-layout:fixed; 
    width:80%;
    padding:0;
    margin: 1em 10% 1em 10%;
    border:1px solid;
    border-color:#CCCCCC;
}

.timetable-days
{
    display:table-cell;

    border:1px solid;
    border-bottom:2px solid;
    padding:10px;
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:11px;
    font-weight:bold;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
}

.timetable-period
{
    display:table-cell;
    height:5em;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
}



.timetable-period-current
{
    display:table-cell;
    height:5em;
    text-align:center;
    vertical-align:middle;
    background-color: #FFFF00;
}

.timetable-period-room-change
{
     
    display:table-cell;
    height:5em;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
    color: #FFFFFF;
    background-color: #000066;
}

.timetable-period-room-change a
{
    color: #FFFFFF;
}

.roombooking-table 
{
    display:table; 
    border:1px solid #CCCCCC; 
    border-collapse:collapse; 
    width:80%; 
    margin-top:20px; 
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.roombooking-table-row
{
    display:table-row; 
    text-align:center;
}

.roombooking-table-col
{
    display:table-cell; 
    padding: 5px; 
    border: 1px solid #CCCCCC;
}

.roombooking-table-col-header
{
    display:table-cell; 
    padding: 5px; 
    border: 1px solid #CCCCCC; 
}

.roombooking-table-period
{
    display:table; 
    border:1px solid #CCCCCC; 
    width:75%; 
    margin: 20px auto; 
    padding:10px;
}

.roombooking-table-period-row
{
    display:table-row; 
    text-align:center;
}

.roombooking-table-period-col
{
    display:table-cell; 
    width:75%;
    padding: 5px;
}    

.roombooking-booking
{
    display:table-cell; 
    padding: 5px; 
    border: 1px solid #CCCCCC;
    width: 5em;
    text-align:    center;
}
.timetable-period-booking
{
    display:table-cell;
    height:5em;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
    width:14em;
    margin: 5px;
}

.timetable-period-bookable
{ 
    display:table-cell;
    height:5em;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
}

.timetable-period-bookable:hover
{ 
    display:table-cell;
    height:5em;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    text-align:center;
    vertical-align:middle;
    background-color: #000066;
    color: #FFFFFF;
    cursor:pointer;
}

.div dates{ border-collapse:collapse;}

#weekselector {
    text-align: left;
}

.zilink_timetableupdateprogress {
    visibility: hidden;
    width: 0px;
}

.block_zilink .timetable {
    
    width:100%; 
    margin-left:0px;
    
}

.block_zilink .timetable_legend{
    
    width:100%; 
    margin-left:0px;
    
}


.block.list_block .unlist > li > .column {
    display: inline-block;
    width: -moz-available;
}
