.parentseve_schedule {
    margin: auto;
    width: 80%;
}

#parentseves {
    margin: auto;
    width: 80%;
}

#parentseves td, .parentseve_schedule td, .parentseve_schedule th{
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

.parentseve_schedule_header {
    page-break-before:always;
}

td.function, th.function {
    width: 60px;
}

.parentseve_appointment{
    outline: thin solid black;
    float:left;
    margin:10px
}

.parentseve_buttons{
    width:100%;
    display:block;
    clear:both
}

.parentseve_schedule{
    border-width:thin;
    border-style:solid;
    border-collapse:collapse;
    border-color:black;
    padding:3px
}

p.parentseve_info{
    margin-top:.5em;
    margin-bottom:3em
}

#parentseve_teachers div.fcontainer{
    overflow:auto;
    height:20em
}

.iewarning {
    display:none;
}

.ie7 .iewarning,
.ie6 .iewarning {
    display:block;
    border: 2px solid red;
}

div.singlebutton {
    margin-top: 20px;
    text-align: center;
}

div .mform .fitem .fitemtitle {
    width: 0px !important;
}

div .mform .fitem .felement {
    margin-left: 0px !important;
}
